@font-face {
  font-family: "Metropolis";
  src: url("metropolis.regular.otf") format("opentype");
}

body {
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 80px;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

nav ul li a {
    margin: 0 15px;
    color: #737373;
    text-decoration: none;
}

nav ul li a:hover {
    color:  #444444;
}

.logo{
    font-weight: bolder;
    color: #0061F2;
    text-decoration: none;
    font-size: 1.2em;
}

.button-buy {
    margin-left: 60px;
    font-weight: 500;
    background-color: #0061F2;
    color:  white;
    padding: 15px 30px;
    border-radius: 0.35rem;
}

.button-buy:hover {
    color: white;
    background-color: #0052ce;
}


  .button-viewDemo {    
    font-weight: 500;
    height: 35px;
    width: 150px;
    background-color: #0061F2;
    color:  white;
    padding: 18px 33px;
    border-radius: 0.35rem;
    text-decoration: none;
    margin-right: 13px;
  }

  .button-viewDemo:hover {
    color: white;
    background-color: #0052ce;
  }

  .button-documentation {    
    font-weight: 500;
    height: 35px;
    width: 150px;
    background-color: #dae7fb;
    color: #0061f2;
    padding: 18px 33px;
    border-radius: 0.35rem;
    text-decoration: none;
  }

  .button-documentation:hover {
    color: #0061F2;
    background-color: #dae7fbe7;
  }

  .banner {
    margin: 0 auto;
    width: 73%;
    display: flex;
    align-items: center;
  }

  .banner-image, .banner-text {
    width: 50%;
    padding: 0 20px;
  }


  .banner-text h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #363d47;
    /* si on désire préciser toutes les marges d'un élément en une ligne o peut utliser cette syntaxe qui permet de définir les 4 marges dans le sens des aiguilles d'une montre en partant d'en haut
    Toutes nos marges passe à 0 sauf celle du bas qui vaut 8px*/
    margin: 0 0 8px 0;
  }

  .banner-text p {
    font-size: 1.15rem;
    color: #69707a;
  }
  
  /*
  nth-child permet de selectionner le n-ème enfant d'un certain type dans un selecteur scc
  Ici ce selecteur signifie "je veux la premiere div directement enfant d'un élément avec la classe banner-texte"
  */
  .banner-text > div:nth-child(1) {
    margin-bottom: 40px;
  }

  header {
    margin-bottom: 100px;
  }